
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>UScore Email Notification</title>

</head>

<body style="margin: 0; background:#F1F1F1;">

<div style="max-width:877px; margin:1em auto 1em; background:#fff; padding:2em 1em;">

	<div>
	<p>Dear <%= @user.first_name %> <%= @user.last_name %>! <br> <br> We would like to inform you that you have now enough points to apply for Union Bank Services like Loan, Lending , Credit Cards and more. You will receive a call from us shortly. Thank You!
    <br><br>

    Below is your current points generated for your UScore Payment History. </p>
	</div>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:sans-serif; color:#333; border:1px solid #ccb851; line-height:22px;">
        <thead>
            <tr>
                <th style="text-align:left; background:#ccb851; color:#fff; padding:5px 10px; border-bottom:1px solid #ccb851;">Customer Details:</th>
                <th style="text-align:left; background:#ccb851; color:#fff; border-bottom:1px solid #ccb851;">Address:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding:10px;">
                    <p>ID TYPE: <%= @user.id_type %> <br>
                    ID Number: <%= @user.id_number %> <br>
                    <br></p>
                </td>
                <td>
                    <p style="word-wrap: break-word; width: 200px;"><strong><%= @user.first_name %> <%= @user.last_name %></strong><br>
                    <%= @user.address %></br>
                    </br>
                    </br>
                </td>
            </tr>
        </tbody>
    </table>

     <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:sans-serif; color:#333; border:1px solid #ccb851; margin-top:25px; line-height:22px;">
        <thead>
            <tr>
                <th style="text-align:left; background:#ccb851; color:#fff; padding:5px 10px; border-bottom:1px solid #ccb851;">Reference Number:</th>
                <th style="text-align:left; background:#ccb851; color:#fff; border-bottom:1px solid #ccb851;">Total Earned Points:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding:10px;">
                    <!-- <p>Payment Code:<br> -->
                    000182929292</p>
                </td>
                <td>
                    <!-- <p>Flat Rate - Fixed<br> -->
                    (Total Points <%= @user.total_points%>)<br></p>
                </td>
            </tr>
        </tbody>
    </table>

   <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:sans-serif; color:#333; margin-top:25px; line-height:22px;">
        <thead>
             <tr>
                <th style="text-align:left; background:#ccb851; color:#fff; padding:5px 10px; border-bottom:1px solid #ccb851; border-left:1px solid #ccb851; border-top:1px solid #ccb851;">Payment History Points</th>
                <th style="text-align:left; background:#ccb851; color:#fff; border-bottom:1px solid #ccb851; border-top:1px solid #ccb851;">Credit Card Points</th>
                <th style="text-align:left; background:#ccb851; color:#fff; border-bottom:1px solid #ccb851; border-top:1px solid #ccb851;">Total Points</th>
               
            </tr>
        </thead>
        <tbody>
          
            <tr>
                
                <td style="padding:10px;">

                    <%= @user.payment_gateway_points %>
                </td>

                <td>
                    <!-- SKU Section -->
                    <%= @user.credit_card_points %>
                </td>

                <td>
                   <strong><%= @user.total_points %></strong>
                </td>
                
                 
            </tr>
        
                  
        </tbody>
    </table>

</div>
</body>
</html>
